//COLORS

$lightgrey: #F8F7F8;
$gold     : #E4B498;
$greyplum : #373339;
$white    : #ffffff;

//General Settings

body {
    padding: 0;

    @include breakpoint (mediumtab) {
        padding: 20px 20px;
    }

    @include breakpoint(xlarge) {
        padding: 40px 0;
    }
}

.spacer {
    padding-top: 20px;

    @include breakpoint(large) {
        padding-top: 40px;
    }
}

.bold {
    font-weight: 700;
}

.link {
    color: $gold;
    text-decoration: none;

    &:hover {
        color: $gold;
        cursor: pointer;
        text-decoration: underline;
    }
}

.gold {
    color: #E4B498;
}

.outline-button {
    background: none;
    border: 3px solid $gold;
    font-size: 15px;
    font-weight: 700;

    @include breakpoint(large) {
        font-size: 20px;
    }

    &:hover {
        background: $gold;
    }
}

.outline-button-white {
    border-color: white;
    color: $white;

    .link {
        color: $white;
    }
    
    &:hover {
        background: $white;
        color: $gold;

        .link {
            color: $gold;
            text-decoration: none;
        } 
    }


}

.vertical-center {
    min-height: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}