<div class="C02-recent-work">
    <div class="grid-container container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-12 large-12 cell">
                <h1 class="bold">Recent Work</h1>
                <p>If you’d like to know more about my past work, please <a href="mailto:veritystothard@gmail.com" class="bold link">email me.</a></p>
            </div>
            <div class="small-12 medium-12 large-8 large-offset-2 cell work-item spacer">
                <h2>
                    <a href="https://www.google.com" class="bold link">Example.co</a>
                </h2>
                <img src="assets/img/example.png" alt="Example.co design mockups">
                <p>Example.co is a global consulting agency that deal with gas and other things. As part of the development team at Isobar Australia, I worked on the Front End Interface. The site was built using foundation for the front end.</p>
            </div>
            <div class="small-12 medium-12 large-8 large-offset-2 cell work-item spacer">
                <h2>
                    <a href="https://www.google.com" class="bold link">Example.co</a>
                </h2>
                <img src="assets/img/example.png" alt="Example.co design mockups">
                <p>Example.co is a global consulting agency that deal with gas and other things. As part of the development team at Isobar Australia, I worked on the Front End Interface. The site was built using foundation for the front end.</p>
            </div>
            <div class="small-12 medium-12 large-8 large-offset-2 cell work-item spacer">
                <h2>
                    <a href="https://www.google.com" class="bold link">Example.co</a>
                </h2>
                <img src="assets/img/example.png" alt="Example.co design mockups">
                <p>Example.co is a global consulting agency that deal with gas and other things. As part of the development team at Isobar Australia, I worked on the Front End Interface. The site was built using foundation for the front end.</p>
            </div>
        </div>
    </div>
</div>