<div class="C04-cta-bar">
    <div class="grid-container container">
        <div class="grid-x grid-padding-x">
            <div class="small-10 small-offset-1 medium-10 medium-offset-1 large-8 large-offset-2 cell">
                <h2 class="bold">Want to work with me?</h2>
                <p>I am currently accepting new projects, and would love to chat about how we can work together.</p>
                <div class="button outline-button outline-button-white"><a href="mailto:vjstothard@gmail.com" class="link">Let's Chat</a></div>
            </div>
        </div>
    </div>
</div>
