.C02-recent-work {
    text-align: center;

    .container {
        background: $lightgrey;
        padding: 50px 20px;

        @include breakpoint(large) {
            padding: 70px 40px;
        }

        .work-item {
            border-bottom: 2px solid $white;
            padding: 40px 0;

            @include breakpoint(large) {
                padding: 60px 0;
            }

            &:last-child {
                border: none;
                padding-bottom: 0;
            }

            img {
                margin: 20px 0;

                @include breakpoint(large) {
                    margin: 40px 0;
                }
            }
        }
    }
}